html {
    background-image: url("images/bg.jpg");
}
body {
    width: 996px;
    margin: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* Header */
header{
    height:163px;
    background-image: url("images/header.jpg");
}

nav ul {
    display: block;
    list-style: none;
    margin: 0;
    padding:75px 0 0;
    text-align:center;
    height:80px;
    background-image: url("images/menu.jpg");
}

nav ul li{
    display: inline;
    white-space: nowrap;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    margin:0 10px;
    padding:0 15px 15px;
}

nav ul li a {
    text-decoration:none;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
}

nav ul li#service {
    margin-right: 170px;
}

li:hover {
    color: #f16c24;
    background-image: url("images/hover.png");
    background-position:center bottom;
    background-repeat:no-repeat;
}

/* Site */
h1 {
    font-family: 'myriad_proregular';
    font-size: 22px;
    color: #ffffff;
    font-style:italic;
    font-weight:normal;
    margin-top:0;
}

h2 {
    font-family: 'myriad_proregular';
    font-size: 20px;
    color: #fa8f37;
    font-weight:normal;
}

p {
    font-family: 'Arial';
    font-size: 11px;
    color: #a8a8a8;
}

img {
    border: solid 1px #f16c24;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 18px 18px 0 0;
    float: left;
}

div#works ul li img {
    margin: 6px;
}

div#about,
div#contact,
div#works {
    background-image: url("images/about-bg.jpg");
    background-repeat:no-repeat;
    min-height:230px;
}

div#service,
div#about,
div#contact,
div#works {
    margin: 20px 0;
    padding: 0 18px;
}

div#works ul li{
    list-style-type:none;
}

article {
    clear:both;
    width:630px;
}

article div {
    padding-top: 10px;
}

/* Footer */
footer {
    background-image: url("images/footer-bg.jpg");
    background-repeat:no-repeat;

    font-family: 'Arial';
    font-size: 9px;
    color: #a8a8a8;

    height: 63px;
    padding:40px 0 0 18px;
}
